.table-wrapper {
  max-height: 400px; /* Set maximum height for the table wrapper */
  overflow-y: auto; /* Enable vertical scrolling */
}

.table-wrapper table {
  width: 100%; /* Ensure the table takes the full width of its container */
  border-collapse: collapse; /* Collapse border spacing */
}

.table-wrapper th,
.table-wrapper td {
  border: 1px solid #ddd; /* Add border to cells */
  padding: 2px; /* Add padding to cells */
  text-align: left; /* Align text to the left */
}

.table-wrapper th {
  background-color: #f2f2f2; /* Add background color to header cells */
}
.smallInput {
  width: 100px;
}
.mediumInput {
  width: 200px;
}
.main {
  margin: 0px;
  margin-top: 3px;
}
.button {
  display: flex;
  align-items: center;
}
.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(213, 200, 200, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center; /* Center the content horizontally */
}

.popup-content {
  text-align: center;
}

.popup button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.popup button:hover {
  background-color: #45a049;
}
.buttonb {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #04aa6d;
  color: rgb(250, 247, 247);
  border-radius: 2px;
  margin: 10px 10px;
}
.date {
  width: 140px;
}
input {
  height: 30px;
  margin-top: 1px;
  text-align: right;
  text-indent: 5px;
  font-size: 12.6pt;
  border-radius: 3px;
  border: solid 1.5px #d3d3d3;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

input[type="text"]:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}

input[type="text"]:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}
p {
  margin: 1px;
}
/* Define the CSS style for mobile views */
@media (max-width: 767px) {
  .mobileviews {
    width: 130px;
  }
}
